<!DOCTYPE html>
<html>
<head>
  <title>TaskManager</title>
  <%= javascript_include_tag 'application.js', "http://localhost:9292/faye.js" %>
   <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

  <%- if user_signed_in? %>
    <meta name="current-user" content="<%= UserSerializer.new(current_user).to_json(root: false) %>" />
  <% end %>
</head>
<body>
  <div class="navbar">
    <div class="navbar-inner">
      <ul class='nav'>
        <li><%= link_to "Tasker", root_path %></li>
      </ul>
      <ul class='nav pull-right'>
        <% if user_signed_in? %>
          <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to "Sign up", new_user_registration_path %></li>
          <li><%= link_to "Login", new_user_session_path %></li>
        <% end %>
      </ul>
    </div>
  </div>
  <% unless current_user %>
    <% flash.each do |name, message| %>
      <%= content_tag :div, message, id: "flash_#{name}" %>
    <% end %>
  <% end %>
<div class='container'>
  <div class="span12">
    <%= yield %>
  </div>
</div>

</body>
</html>
